extends layout

block content
    div(class='login-wrapper')
        div(class='space')
        div(class='login-container')
            form
                h1(class='login-title') Log in to Photoboard

                p(class='signup-text') Don't have an account?
                    a(href='/signup/')  Sign Up