extends layout

block content
        div(class='classes-container')
            each Class in classes
                a(href='/admin/class/' + Class.code)
                    div(class='class-card')
                        img(class='class-card-image' src='https://imgs.search.brave.com/JdpcB3qT5-0pM2N9R1BVmkK3MlSFMoq5wlre9sOA_cM/rs:fit:844:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5T/dUY4Tnl0VFM0VGsw/UXdsaHB1U0JBSGFF/SyZwaWQ9QXBp' alt='Class thumbnail')
                        div(class='class-card-period')
                            p= 'Period ' + Class.period + ':'
                        div(class='class-card-summary')
                            p Mr. Devlin Photography Class 2