extends layout

block content
        div(class='classes-container')
            each val in [1, 2, 3, 4, 5]
                div(class='class-card')
                    img(class='class-card-image' src='https://imgs.search.brave.com/P8NCyzZ1R8yUEnMUUaSLtu3I9K8uuH_hzpke9WgxjL0/rs:fit:800:533:1/g:ce/aHR0cHM6Ly92aWdu/ZXR0ZS53aWtpYS5u/b2Nvb2tpZS5uZXQv/ZmlnZ2xlaG9ybi9p/bWFnZXMvMS8xNS9G/cmVkMl8xOWhyLTEt/LmpwZy9yZXZpc2lv/bi9sYXRlc3Q_Y2I9/MjAxMTEwMTUwMTM1/Mzg' alt='Class thumbnail')
                    div(class='class-card-title')
                        p Period 1111:
                    div(class='class-card-text')
                        p Period 10: Photobcbt22bt38fgraphy 2 f3fDevlinfe rw fe ffwet we erwf