doctype html
html
    head
      title= title

      //-
        Required for uniform sizing on all devices
      meta(charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=0")

    body
      p 404, page not found.

//-
    So far this page is not implemented