/* Gets rid of space at the top and bottom of the webpage */
* {

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

}

body, html {

    padding: 0;
    margin: 0;
    height: 100%;

}

body {

    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
            45deg,
            #19c7d9,
            #19c7d9 10px,
            #0ed8ee 10px,
            #0ed8ee 20px
    );

}

.login-wrapper {

    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-container {

    position: relative;
    height: auto;
    margin: 1rem;
    width: 20rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    background: white;
}

h1{
    margin-top: 0;
    font-size: 35px;
    color: #19c7d9;
}

.form-row {
    position: relative;
    margin-bottom: 0.5rem;
    font-size: 28px;
}

.form-input {
    box-sizing: border-box;
    padding:2rem 1rem 0.5rem 0.5rem;
    border: 0;
    border-bottom: 1px solid lightgrey;
    width: 100%;
}

.form-input::placeholder {
    color: transparent;
    display: none;
}

.form-input:focus {
    outline: none;
    border-bottom: 2px solid #19c7d9;
}

.form-label {
    position: absolute;
    color: gray;
    bottom: 0.5rem;
    left: 0;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.form-input:focus~.form-label, .form-input:not(:placeholder-shown)~.form-label {
    opacity: .65;
    transform: scale(.85) translateY(-1.3rem);
}

.forgot-password {
    top: 1rem;
    position: relative;
    text-decoration: none;
    color: #19c7d9;
}

.submit-btn {
    margin-top: 2rem;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    background: #19c7d9;
    color: white;
    border: 0;
}

.submit-btn:hover {
    cursor: pointer;
    background: #0ed8ee;
    text-decoration: none;
}

.sign-up-text{
    color: gray;
    display: block;
    margin-top: 2rem;
}

.sign-up-text >a{
    text-decoration: none;
    color: #19c7d9;
}
