extends layout

block content
    div(class='login-wrapper')
            div(class='login-container')
                h1 404, page not found
                a(class='error-btn' href='/') Return to Login
    meta(charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=0")
//-
    So far this page is not implemented