extends layout

block content
    div(class='login-wrapper')
            div(class='login-container')
                h1 404, page not found
                a(class='error-btn' href='/') Return to Login
//-
    So far this page is not implemented