extends layout

block content
    div(class='login-wrapper')
                div(class='login-container' style="justify-container: right")
                    h1 OOPS, your session has expired
                    a(class='error-btn' href='/') Return to Login