extends layout

block content
    div(class='login-wrapper')
                div(class='login-container' style="justify-container: left")
                    h1 OOPS, your session has expired
                    a(class='error-btn' href='/') Return to Login
    meta(charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=0")




