extends layout

block content
    div(class='login-wrapper')
            div(class='login-container')
                h1 You are not authorized to view this page.
                a(class='error-btn' href='/') Return to Login