doctype html
html
    head
      title Photoboard | Log In

      //-
        Required for uniform sizing on all devices
      meta(charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=0")
      link(rel="icon" type="image/png" href="assets/logo.png")
      link(rel='stylesheet', href='/stylesheets/main.css')
      link(rel='stylesheet', href='/stylesheets/login-signup.css')

    body
      block content