doctype html
html
    head
      title Photoboard | Log In

      meta(charset="UTF-8" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
      // Required for same size on all devices

      link(rel='stylesheet', href='/stylesheets/main.css')
    body
      block content