extends layout

block content
    div(class='login-wrapper')
        div(class='space')
        div(class='login-container')
            form(method="post" action="login")
                h1(class='login-title') Log in to Photoboard

                div(class='login-error-container' id='login_error')
                                    p(class='login-error-text' name='loginErrorText')= login_error

                div(class='form-row')
                    input(class='form-input' type='text' id='login-input-username' placeholder=' ' name='username')
                    label(class='form-label' for='login-input-username') Username

                div(class='form-row')
                    input(class='form-input' type='password' id='login-input-password' placeholder=' ' name='password')
                    label(class='form-label' for='login-input-password') Password

                button(class='submit-btn' type='submit') Login

                p(class='signup-text') Don't have an account?
                    a(href='/signup/')  Sign Up.