extends layout

block content
    div(class='login-container')
        form
            h1 Signup for Photoboard
            div(class='form-row')
                input(class='form-input' type='text' id='login-input-username' placeholder=' ')
                label(class='form-label' for='login-input-username') Username
            div(class='form-row')
                input(class='form-input' type='text' id='login-input-password' placeholder=' ')
                label(class='form-label' for='login-input-password') Password
            button(class='submit-btn' type='submit') Login